/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

/* VARIABLES CSS */
:root {
  --color-almostWhite: #fafafa;
  --color-mediumGray: #696969;
  --color-almostBlack: #151515;

  /* Font Weights */
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus-visible {
  outline: var(--color-mediumGray) dotted 4px;
  outline-offset: 4px;
}

/**
 * To hide content visually.
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

button,
[type="button"] {
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

img {
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background: var(--color-almostWhite);
}

body.show {
  background: var(--color-almostBlack);
}

/* class reusable */
.font-link {
  font: var(--fw-medium) 0.875rem / 1.14 "Epilogue", sans-serif;
}

.font-link--dark {
  color: var(--color-almostWhite);
}

.header {
  display: grid;
  gap: 3.875rem;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1.313rem 0 4.188rem 0;
  margin: 0 2.5rem;
}

.header__mobile {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.header__menu-mobile {
  background: none;
  border: none;
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__item {
  position: relative;
}

.header__button-dropdrow {
  display: flex;
  align-items: center;
  gap: 0.563rem;
  padding: 1.25rem 0 1.25rem 0;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-mediumGray);
  transition: all 0.5s ease-in;
}

.arr__down {
  transform: rotate(0);
  transition: all 0.5s ease-out;
}

.header__button-dropdrow.active .arr__down {
  transform: rotate(-180deg);
  transition: all 0.5s ease-out;
}

.arr__down path {
  transition: all 0.5s ease-out;
}

.arr__down--dark path {
  stroke: var(--color-almostWhite);
}

.header__button-dropdrow:hover .arr__down path,
.header__button-dropdrow:hover,
.header__button-dropdrow.active,
.header__button-dropdrow.active .arr__down path {
  stroke: var(--color-almostBlack);
  color: var(--color-almostBlack);
}

/* Dropdown Menu */
.header__dropdown-menu {
  position: absolute;
  top: 3.5rem;
  right: 0;
  padding: 1.5rem;
  background: var(--color-almostWhite);
  box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem;
  display: grid;
  row-gap: 1rem;
  z-index: 200;
  transform: rotateX(-90deg);
  visibility: hidden;
}

.header__button-dropdrow.active + .header__dropdown-menu {
  transform: rotateX(0);
  visibility: visible;
  display: grid;
  animation: show-drop 0.5s ease-in-out;
}

@keyframes show-drop {
  0% {
    transform: rotate3d(0, 2, 0, 0.5turn)
      translate3d(-1.25rem, -1.5rem, -6.25rem);
    transform-origin: top center;
    opacity: 0.25;
  }
  100% {
    transform: rotate3d(0, 0, 0, 0turn) translate3d(0, 0, 0, 0);
    opacity: 1;
  }
}

.header__list-features {
  width: 9.563rem;
  height: 10rem;
}

.header__list-company {
  width: 7.25rem;
  height: 8rem;
  left: 0;
}

.dropdown__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.dropdown__item > a:link,
a:visited {
  display: inline-block;
  color: var(--color-mediumGray);
  transition: 0.4s ease-in-out;
}

.dropdown__item > a:hover,
.dropdown__item > a:active {
  color: var(--color-almostBlack);
}

.header__link {
  color: var(--color-mediumGray);
  transition: 0.4s ease-in-out;
}

.header__link:hover,
.header__link:active {
  color: var(--color-almostBlack);
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-left: auto;
  position: relative;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: var(--color-mediumGray);
  transition: 0.4s ease-in-out;
}

.btn:hover,
.btn:active {
  color: var(--color-almostBlack);
}

.btn--transparent {
  padding: 0.813rem 1.375rem;
  box-shadow: 0 0 0 0.094rem var(--color-mediumGray);
  border-radius: 0.875rem;
}

.btn--transparent:hover {
  box-shadow: 0 0 0 0.094rem var(--color-almostBlack);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
}

/* HERO */
.hero__content {
  padding-top: 6.5rem;
  max-width: 33.75rem;
}

.hero {
  max-width: calc(71.563rem + 5rem);
  padding: 0 2.5rem 8.125rem 2.5rem;
  margin: 0 auto;
  display: grid;
  gap: 2.5rem;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

.hero__title {
  font: var(--fw-bold) 5rem/1 "Epilogue";
  color: var(--color-almostBlack);
  margin-bottom: 3rem;
}

.hero__desc {
  font: var(--fw-medium) 1.125rem/1.56 "Epilogue";
  color: var(--color-mediumGray);
  margin-bottom: 3.188rem;
  max-width: 27.813rem;
}

.btn--fill {
  background: var(--color-almostBlack);
  font: var(--fw-bold) 1.125rem/1.56 "Epilogue";
  color: var(--color-almostWhite) !important;
  padding: 0.938rem 1.75rem 0.813rem 1.938rem;
  border-radius: 0.938rem;
  margin-bottom: 6.75rem;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}

.btn--fill:hover {
  border-color: var(--color-almostBlack);
  color: var(--color-almostBlack) !important;
  background: transparent;
}

.hero__soon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2.5rem;
  row-gap: 1.25rem;
}

.hero__img {
  max-width: 30rem;
}

@media (max-width: 70.625em) {
  .hero__title {
    font-size: 3.75rem;
  }
  .hero__soon {
    column-gap: 1.25rem;
  }
  .hero__img {
    max-width: 28.75rem;
  }
}

@media (max-width: 62.5em) {
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__desc {
    font-size: 1rem;
    line-height: 1.62;
  }
  .hero__img {
    max-width: 22.5rem;
  }
  .btn--fill {
    margin-bottom: 5rem;
  }
}

@media (max-width: 50.625em) {
  .header {
    padding: 1rem 0 1.5rem 0;
    margin: 0 1rem;
  }

  .header__mobile {
    position: absolute;
    padding: 4.875rem 1.313rem 0 1.5rem;
    top: 0;
    right: 0;
    z-index: 1;
    background: #fafafa;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 2rem;
  }

  .header__mobile:has(.header__btn.active) {
    animation: show-right 0.5s forwards;
  }

  @keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .header__menu-mobile {
    width: max-content;
    justify-self: end;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 16px;
    padding-right: 16px;
    z-index: 300;
  }

  .header__menu-mobile.active::after {
    content: "";
    display: block;
    width: 1.625rem;
    height: 1.625rem;
    background: url(../images/icon-close-menu.svg) no-repeat;
  }

  .menu-close {
    display: block;
  }
  .menu-close.active {
    display: none;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    display: none;
  }

  .header__list.active,
  .header__btn.active {
    display: flex;
  }

  .header__btn {
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
    padding: 0 1.313rem 0rem 1.5rem;
    height: 100vh;
    display: none;
  }

  .btn--transparent {
    padding: 0.813rem 4.188rem;
  }

  .header__button-dropdrow {
    padding: 0;
  }

  .header__dropdown-menu {
    position: static;
    padding: 0;
    background: none;
    box-shadow: none;
    padding-top: 18px;
    padding-left: 25px;
    display: none;
  }

  .header__list-features {
    width: 7.438rem;
    height: max-content;
    margin-bottom: 0.5rem;
  }

  .header__list-company {
    width: 4.75rem;
    height: max-content;
    margin-bottom: 0.5rem;
  }

  .header__button-dropdrow.active + .header__dropdown-menu {
    animation: show-up 0.5s ease-out;
    display: grid;
  }

  @keyframes show-up {
    from {
      transform: rotateX(90deg);
      transform-origin: top center;
    }
    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  .header__link:link,
  .header__link:visited {
    justify-content: end;
  }

  .header__link-flex {
    justify-self: start;
  }

  .hero {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 0;
    gap: 3rem;
  }

  .hero__content {
    grid-row: 2;
    text-align: center;
    padding: 0 1rem 5.875rem 1rem;
  }

  .hero__title {
    font-size: 2.25rem;
    line-height: 1.17;
    letter-spacing: -0.031rem;
    margin-bottom: 1rem;
  }

  .btn--fill {
    margin-bottom: 3rem;
  }

  .hero__soon {
    column-gap: 1.813rem;
    justify-content: center;
  }

  .hero__soon img:nth-child(1) {
    max-width: 5rem;
  }
  .hero__soon img:nth-child(2) {
    max-width: 3.313rem;
  }
  .hero__soon img:nth-child(3) {
    max-width: 4rem;
  }
  .hero__soon img:nth-child(4) {
    max-width: 3.688rem;
  }

  .hero__img {
    max-width: 60%;
    margin: auto;
  }

  .overlay.active {
    display: block;
  }
}

@media (max-width: 31.25em) {
  .hero__img {
    max-width: 100%;
  }
}
