/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  /* colors */
  --color-almostWhite: #fafafa;
  --color-mediumGray: #696969;
  --color-almostBlack: #141414;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *:focus,
*:focus-visible {
  outline: #696969 dotted 4px;
  outline-offset: 4px;
} */

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: var(--color-almostBlack);
}

img {
  max-width: 100%;
  display: block;
}
/* 
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
} */

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Epilogue", sans-serif;
  color: var(--color-mediumGray);
  background-color: var(--color-almostWhite);
  line-height: 1.5;

  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  position: relative;
}

/* Layout */
.container {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

/* css reusable */
.font-link:link,
.font-link:visited {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--color-mediumGray);
  transition: all 0.3s ease-in-out;
}

.font-link:hover,
.font-link:active {
  color: var(--color-almostBlack);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 62px;
  padding: 21px 40px 67px 41px;
}

.nav {
  width: 100%;
  display: grid;

  justify-content: start;
  grid-template-columns: 1fr 2fr;

  align-items: center;
  /* gap: 650px; */
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__list-item {
  position: relative;
}

.nav__link:link,
.nav__link:visited {
  display: flex;
  align-items: center;
  gap: 9px;
}

.nav__link-features::after {
  content: "";
  width: 10px;
  height: 6px;
  background: url(../images/icon-arrow-down.svg);
}

.nav__link-company::after {
  content: "";
  width: 10px;
  height: 6px;
  background: url(../images/icon-arrow-down.svg);
}

.nav__link-features.active::after {
  background: url(../images/icon-arrow-up.svg);
}

.nav__link-company.active::after {
  background: url(../images/icon-arrow-up.svg);
}

.nav__options-box,
.nav__options-company {
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  background-color: #fff;
  position: absolute;
  top: 30px;
}
.nav__options-box {
  width: 153px;
  height: 160px;
  padding: 24px;
  left: -70px;
  display: none;
}

.nav__options-box.active {
  display: block;
}

.nav__options-company {
  width: 116px;
  height: 128px;
  padding: 24px 26px 24px 25px;
  left: 0;
  display: none;
}

.nav__options-company.active {
  display: block;
}

.nav__options-list {
  display: grid;
  justify-items: start;
  gap: 16px;
}

.nav__options-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__options-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__options-features:hover {
  background: red;
}

.nav__options-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__btn-box {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-self: end;
}

.nav__btn-register:link,
.nav__btn-register:visited {
  padding: 13px 22px;
  box-shadow: inset 0 0 0 1.5px var(--color-mediumGray);
  border-radius: 14px;
  transition: all 0.3s ease-in-out;
}

.nav__btn-register:hover,
.nav__btn-register:active {
  box-shadow: inset 0 0 0 1.5px var(--color-almostBlack);
}

button {
  border: none;
  background: none;
}

/* HERO */
.hero {
  display: grid;
  align-items: end;
  grid-template-columns: 2fr 1.8fr;
  gap: 125px;
  margin-bottom: 130px;
}

.hero__title {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1.11px;
  color: var(--color-almostBlack);
  margin-bottom: 48px;
}

.hero__desc {
  line-height: 1.56;
  font-weight: 500;
  margin-bottom: 51px;
  max-width: 426px;
}

.hero__btn:link,
.hero__btn:visited {
  display: inline-block;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: var(--color-almostWhite);
  padding: 15px 28px 13px 31px;
  background-color: var(--color-almostBlack);
  border-radius: 15px;
  margin-bottom: 108px;
}

.hero__client-box {
  display: flex;
  gap: 40px;
}

.hero__img {
  width: 480px;
  height: 640px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .hero {
    gap: 60px;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__img {
    width: 380px;
    height: 540px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 21px 20px 67px 20px;
  }

  .nav__btn-box {
    gap: 20px;
  }

  .hero {
    gap: 30px;
  }

  .hero__title {
    font-size: 2.5rem;
    margin-bottom: 28px;
  }

  .hero__desc {
    margin-bottom: 28px;
  }

  .hero__img {
    width: 100%;
    height: 100%;
  }

  .hero__btn:link,
  .hero__btn:visited {
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .menu__box {
    position: absolute;
    top: 22px;
    right: 20px;
  }

  .menu {
    display: block;
  }

  .nav {
    display: none;
    grid-template-columns: 1fr;
    gap: 32px;
    width: 240px;
    height: 100vh;
    align-content: start;
    /* padding: 16px 16px 24px 16px; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    gap: 32px;
    background-color: #fff;
    padding: 78px 21px 0 24px;
    /* padding-top: 78px; */
    position: absolute;
    right: 0;
    top: 0;
    /* z-index: 3; */
  }

  .nav__logo {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .nav__list {
    /* position: absolute; */
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 32px;
  }

  .nav__btn-box {
    width: 100%;
    flex-direction: column;
    align-content: initial;
    text-align: center;
  }

  .nav__btn-login,
  .nav__btn-register {
    width: 100%;
  }

  .nav__list-item {
    z-index: 1;
  }

  .nav__options-box,
  .nav__options-company {
    box-shadow: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    padding: 0 1rem;
  }

  .hero.container {
    padding-left: 0;
    padding-right: 0;
  }

  .hero {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    gap: 48px;
    text-align: center;
    padding-top: 75px;
  }

  .hero__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
  }

  .hero__desc {
    margin-bottom: 24px;
    max-width: 100%;
  }

  .hero__btn:link,
  .hero__btn:visited {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: -0.222222px;
    padding: 12px 20px 10px 24px;
    margin-bottom: 48px;
  }

  .hero__client-box {
    gap: 29px;
    justify-content: center;
    align-items: center;
  }

  picture {
    grid-row: 1;
  }
}
